.col-md-6 div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Optional: Adjust the margin as needed */
}

.col-md-6 div label {
    margin-bottom: 5px; /* Optional: Adjust the margin as needed */
}
.member-item {
    background-color: aliceblue;
    width: fit-content;
}